<div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
</div>
</html>
    <script src="/assets/admin/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/assets/admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/assets/admin/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/assets/admin/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/assets/admin/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/assets/admin/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/assets/admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/assets/admin/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/assets/admin/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/assets/admin/vendors/Flot/jquery.flot.js"></script>
    <script src="/assets/admin/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/assets/admin/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/assets/admin/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/assets/admin/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/assets/admin/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/assets/admin/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/assets/admin/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/assets/admin/vendors/DateJS/build/date.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/assets/admin/build/js/custom.min.js"></script>

